<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {% block meta %}{% endblock %}

    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/main.css"/>
    {% endblock %}
</head>
<body class="is-preload">

<!-- Nav -->
<nav id="nav">
    <ul class="container">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('team_index') }}">Teams</a></li>
    </ul>
</nav>


{% block body %}{% endblock %}

<!-- Contact -->
<article id="contact" class="wrapper style4">
    <div class="container medium">
        <div class="col-12">
            <hr/>
            <h3>Find me on ...</h3>
            <ul class="social">
                <li><a href="https://twitter.com/LoicLEMEUT" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.linkedin.com/in/loiclemeut/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/LoicLEMEUT" class="icon brands fa-github"><span class="label">Github</span></a></li>
            </ul>
            <hr/>
        </div>
    </div>
    <footer>
        <ul id="copyright">
            <li>&copy; BalanceTaMR. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer>
    </div>
</article>

{% block javascripts %}
    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

</body>
</html>