<form method="post" action="{{ path('provider_delete', {'id': provider.id}) }}" onsubmit="return confirm({{ "provider.action.delete" | trans | capitalize }});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ provider.id) }}">
    <button class="btn">{{ "action.delete" | trans | capitalize }}</button>
</form>
