<form method="post" action="{{ path('label_delete', {'id': team.id, 'idLabel': label.id}) }}" onsubmit="return confirm({{ "label.action.delete" | trans | capitalize }});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ label.id) }}">
    <button class="btn">{{ "action.delete" | trans | capitalize }}</button>
</form>
