
{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body %}
    <!-- Work -->
    <article id="work" class="wrapper style1" style="padding-top: 0.5em">
        <div class="container">
            <header>
                <h2>Créez un Label pour un Projet de la Team {{ team.name|e }}</h2>
                <p>Ici, filtrez la liste des MR avec des labels par projets. (Match les MR avec les labels [MODE=OU])</p>
                <p>Si rien n'est sélectionné, toutes les MR seront affichées</p>
                <p>Les MR sans labels seront tout le temps affichées</p>
            </header>
            <div class="row aln-center">
                {{ include('label/_form.html.twig') }}
            </div>
            <footer>
                <a href="{{ path('label_index', {'id' : team.id}) }}" class="button large scrolly">Retour</a>
            </footer>
        </div>
    </article>

{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    var $sport = $('#label_project');

    $(document).ready(function() {
        myFunction($sport);
    });

    // When sport gets selected ...
    $sport.change(function () {
        myFunction($sport);
    });

    function myFunction($context) {
        // ... retrieve the corresponding form.
        var $form = $context.closest('form');
        // Simulate form data, but only include the selected sport value.
        var data = {};
        data[$sport.attr('name')] = $sport.val();
        // Submit data via AJAX to the form's action path.
        $('#label_codes').html('<img style="width:50%" src="{{ asset('images/loading.gif') }}">');
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: data,
            success: function (html) {
                // Replace current position field ...
                $('#label_codes').replaceWith(
                    // ... with the returned one from the AJAX response.
                    $(html).find('#label_codes')
                );
                // Position field now displays the appropriate positions.
            }
        });
    }
</script>

{% endblock %}
